.exercise-timer {
    border: 1px solid #8bf20d;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(231, 242, 125, 0.2);
    text-align: center;
  }
  
  .exercise-info {
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  