.food-chart {
    border: 1px solid #8bf20d;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .categories {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.active {
    background-color: #0768a4;
    color: #fff;
  }
  
  .food-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .food-item {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  